{# ================================================================= #}
{#                   FIRST PASS: INTERFACE CONFIGURATION             #}
{# ================================================================= #}
config system interface
{% for interface in host.data.interfaces -%}
edit "{{ interface.name }}"
{% if interface.type is defined and interface.type == 'vlan' %}
set status up
{% else %}
set status down
{% endif %}
set ip {{ interface.ip }} {{ interface.mask }}
set description "{{ interface.description }}"
set allowaccess ping
set device-identification enable
set vdom root
{%- if interface.type is defined and interface.type == 'vlan' %}

set type vlan
set vlanid {{ interface.name | replace("vlan", "") | int }}
set role lan
set interface x1
{% else %}

set type physical
set role lan

{%- endif %}
{%- if interface.helper is defined and interface.helper|length > 0 %}

set dhcp-relay-service enable
set dhcp-relay-ip {% for helper_ip in interface.helper %}{{ helper_ip }} {% endfor%}

set dhcp-relay-request-all-server enable
{% endif %}
{%- if interface.secondary_ip is defined and interface.secondary_ip|length > 0 %}

set secondary-IP enable
config secondaryip
{% for secondary in interface.secondary_ip -%}
edit {{ loop.index }}
    set ip {{ secondary.ip }} {{ secondary.mask }}
    set allowaccess ping
next
{% endfor -%}
end
{% endif %}
next
{% endfor %}
end

config system dhcp server
{# ================================================================= #}
{#                   SECOND PASS: DHCP SERVER CONFIGURATION          #}
{# ================================================================= #}
{% for interface in host.data.interfaces -%}

{# Check if 'build_dhcp_server' is explicitly True in the interface definition #}
{%- if interface.build_dhcp_server is defined and interface.build_dhcp_server == True -%}

{% set primary_ip = interface.ip %}
{% set netmask = interface.mask %}

{# Calculate prefix using standard Jinja2 split/join #}
{# Example: '10.10.128.1' becomes ['10', '10', '128', '1'] #}
{# Slicing '[:-1]' gives ['10', '10', '128'] #}
{# Joining them gives '10.10.128' #}
{% set network_prefix = primary_ip.split('.')[:-1] | join('.') -%}

    edit {{ loop.index0 }} 
        set default-gateway {{ primary_ip }}
        set interface "{{ interface.name }}"
        set netmask {{ netmask }}
        config ip-range
            edit {{ loop.index0 }}
                set start-ip {{ network_prefix }}.20
                set end-ip {{ network_prefix }}.200
            next
        end
    next

{% endif %}
{% endfor %}
end
